.ContenedorContacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    padding-top: 40px;
}

.contenedor-Formulario{
    margin: auto;
    border-radius: 20px;
    border: 2px solid rgb(80, 80, 80, 0.637);
    max-width: 600px;
    padding: 0px 20px;
    min-width: 200px;
    margin-bottom: 10px;
}

.botonEnviar{
    color: white;
    font-weight: bold;
    background: rgb(18,102,143);
    background: linear-gradient(0deg, rgba(18,102,143,1) 0%, rgba(84,53,210,1) 100%);
}

.contact-form{
    max-width: 540px;
    margin: auto;
}

.contenedorDatos{
    max-width: 540px;
    min-width: 200px;
    border: 2px solid rgba(80, 80, 80, 0.637);
    border-radius: 20px;
    margin: auto;
    padding: 20px 50px;
    margin-bottom: -40px;
}